* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    background-color: blueviolet;
    color: #fff;
    text-align: center;
    padding: 24px;
}

h2 {
    padding: 24px;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input {
    width: 100%;
    display: block;
    padding: 8%;
}

form {
    max-width: 360px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color: #540340;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}